<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a  class="navbar-brand" href="/">首页</a>
            <% if(login){ %>
                <a  class="navbar-brand" href="/roomentry">网络聊天室</a>
                <%}%>
                    <% if(username == 'lvshihao') { %>
                        <a class="navbar-brand" href="/usermanage">用户管理</a>
                        <a  class="navbar-brand" href="/roommanage">房间管理</a>
                        <% }%>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <% if(!login){ %>
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" id="username" class="form-control" placeholder="用户名">
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" class="form-control" placeholder="密码">
                    </div>
                    <a id="loginbtn" class="btn btn-primary">登陆</a>
                    <a class="btn btn-primary" href="/regist">注册</a>
                </form>
                <span id="session_username"></span>
                <% }else{ %>
                    <div>
                        <a style="cursor:pointer"  class="navbar-brand" id="logoutbtn">退出</a>
                        <a style="float: right;" class="navbar-brand" href="/setavatar">设置个人头像</a>
                        <span style="float: right;color: white;cursor:pointer" class="navbar-brand">欢迎您
              <%= username %>
            </span>
                    </div>
                    <% } %>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>